/* 
*
*   STYLEEEEE I HATE CSS
*
*/

@font-face {
  font-family: 'tiltneon';
  src: url('https://cdn.glitch.global/119042a0-d196-484e-b4d0-393548c41275/tiltneon.ttf?v=1712723959662') format('truetype');
}
@font-face {
  font-family: 'yk_med';
  src: url('assets/fonts/fontTests/yk_med.ttf') format('truetype');
}
@font-face {
  font-family: 'ibmPlex_sans_med';
  src: url('assets/fonts/fontTests/ibmPlex_sans_med.ttf') format('truetype');
}
@font-face {
  font-family: 'ibmPlex_mono_med';
  src: url('assets/fonts/fontTests/ibmPlex_mono_med.ttf') format('truetype');
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "tiltneon";
/*   disable scrolling, only issue is refresh... https://discourse.processing.org/t/disable-scrolling-on-mobile/20719/2 */
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
/*   height: 100%;  
  overflow: hidden; */
}

/* #mainContainer {
  font-family: "tiltneon";
} */

canvas {
  display: block;
} 

html, body, a, button, input {
  /* for custom cursor */
  cursor: url('https://cdn.glitch.global/119042a0-d196-484e-b4d0-393548c41275/ca_cursor.png?v=1730229446948'), auto;
}

/* Style for the custom cursor */
#custom-cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('https://cdn.glitch.global/119042a0-d196-484e-b4d0-393548c41275/ca_cursor.png?v=1730229446948'); /* Your cursor image */
  background-size: contain;
  pointer-events: none; /* So it doesn't block other elements */
  transform: translate(-35%, 0%); 
  z-index: 9999;
}

/* Style for the qr code, just for top level z-index */
#qr-remote {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('https://cdn.glitch.global/119042a0-d196-484e-b4d0-393548c41275/bit.ly_cacv-remote.png?v=1730229372663'); 
  background-size: contain;
  pointer-events: none;
  transform: translate(-50%, 50%); 
  z-index: 9999;
}

/* https://dev.to/ashwamegh/how-to-hide-scrollbar-from-any-html-element-dae */
/* https://www.w3schools.com/css/css_pseudo_elements.asp */
.scroll-hide::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

/* #mainContainer {
  font-family: "tiltneon";
} */

.panels {
  /* display: inline-block; */
  /* font-family: "tiltneon"; */
  z-index: 9999;

}

#coursePanel {
  /* position: absolute; */
  /* top: 0; */
  background-color: #fbc6d0;
}

#modePanel{
  /* margin-top: 1%; */
  /* background-color: rgba(198, 251, 241, .2); */
}

.infoDivs {
  text-align: center;
  font-size: 110%;
  /* padding: 5%; */
  margin: 5%;
  /* transition-duration: 0.4s; */
}

#courseTitle {
  font-size: 200%;
}

.cNode {
  border-radius: 50%;
  border: none;
  /* width: 7%; */
  /* height: 7%; */
  /* padding: 3% 1%; */
  text-align: center;
  /* line-height: 200%; */
  display: inline-block;
  margin: auto;
  font-size: 80%;
  font-family: "tiltneon";
  transform: translate(-50%, -50%); /*center button */
}

.cNode-soul {
  border: 2px solid black;
  border-radius: 50%;
  /* width: 7%; */
  /* height: 7%; */
  /* padding: 3% 1%; */
  text-align: center;
  /* line-height: 200%; */
  display: inline-block;
  margin: auto;
  font-size: 110%;
  font-family: "tiltneon";
  transform: translate(-50%, -50%); /*center button */
}

.buttons {
  margin: 10px;
  background-color: rgb(108,112,45);
  color: white;
  font-size: 100%;
  font-family: "tiltneon";
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 9999;
}

.buttons:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(108,112,45);
}

.checkboxes {
  /* font-family: "tiltneon"; */
  font-size: 110%;
  padding-left: 10%;
}

.colorSwatch{
  background-color: white;
}

#controlDiv {
  /* font-family: "tiltneon"; */
  display: flex;
  justify-content: space-evenly;
}

.controls {
  /* font-family: "tiltneon"; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  font-size: 120%;
}

#designDiv{
  display: flex;
  flex-direction: column;
}

.inputs {
  width: auto;
  margin: 2%;
  font-family: "tiltneon";
  font-size: 150%;

}

.dropdowns {
  width: auto;
  font-family: "tiltneon";
  font-size: 150%;
}

#searchDiv {
  z-index: 0;
  display: flex;
  align-items: left;
  margin: 1%;
  /* padding: 0%; */
}

#searchIconDiv {
  /* width: 5%; */
  /* margin: 2%; */
  font-family: "tiltneon";
  font-size: 150%;
}

#searchInput {
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border-top: rgba(0, 0, 0, 0);
  border-left: rgba(0, 0, 0, 0);
  border-right: rgba(0, 0, 0, 0);

}

.searchButtons {
  /* no longer using */
  margin: 2%;
  margin-left: 10%;
  /* background-color: rgb(108,112,45); */
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-family: "tiltneon";
  text-align: center;
  /* border-radius: 10%; */
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 9999;
}

.searchButtons:hover {
  /* background-color: rgb(122, 16, 130); */
  color: rgb(255, 255, 255);
}

.scrollBox {
  width: auto;
  /* height: auto; */
  height: 75%;
  font-size: 150%;
  /* margin: 2%; */
  padding: 2%;
  font-family: "tiltneon";
  overflow-y: auto;
  /* background-color: rgba(255, 255, 255, .2) */
  /* z-index: 9999; */

}

/* .scrollBox::-webkit-scrollbar { 
  /* width: 0 !important; */
  /* display: none;  */
/* } */

.scrollBox::-webkit-scrollbar-track {
  background: #2c1fb8; /* Track (background behind scrollbar) */
  border-radius: 4px;
}

.scrollBox::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar handle */
  border-radius: 4px;
}

.panelImage {
  /* for the default images */
  border: 0; /* just to get rid of error, empty for now */
}
