/* 
*
*   STYLEEEEE
*
*/

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
} 

.cNode {
  border-radius: 50%;
  border: none;
  /* width: 7%; */
  /* height: 7%; */
  /* padding: 3% 1%; */
  text-align: center;
  /* line-height: 200%; */
  display: inline-block;
  margin: auto;
  font-family: Verdana;
  transform: translate(-50%, -50%); /*center button */
  /* background-color: palevioletred; */
}

.cNode:hover {
  background-color: #156064;
}

/* https://dev.to/ashwamegh/how-to-hide-scrollbar-from-any-html-element-dae */
/* https://www.w3schools.com/css/css_pseudo_elements.asp */
.scroll-hide::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
